MONGO_URI="mongodb://aneree0089_db_user:chemical_spill_monitor@ac-xqcdkut-shard-00-00.ujrs0t4.mongodb.net:27017,ac-xqcdkut-shard-00-01.ujrs0t4.mongodb.net:27017,ac-xqcdkut-shard-00-02.ujrs0t4.mongodb.net:27017/?ssl=true&replicaSet=atlas-o9i3yr-shard-0&authSource=admin&appName=chemicalSpill"
DATABASE_NAME=chemical_spill_db